/* style.css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://images.unsplash.com/photo-1531297484001-80022131f5a1');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(0, 0, 0); /* Pour que le texte reste lisible */
    text-align: center;


}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}


    

header {
    background: #333;
    color: white;
    padding: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {



        background: rgba(255, 255, 255, 0.1); /* gris très clair transparent */
        padding: 30px;
        margin: 30px auto;
        width: 90%;
        max-width: 900px;
        border-radius: 12px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        backdrop-filter: blur(6px); /* floute légèrement le fond derrière */
        -webkit-backdrop-filter: blur(6px); /* compatibilité Safari */
        color: white; /* texte blanc lisible */
        flex: 1;
        
    
    
}

footer {
         background: rgba(255, 255, 255, 0.1);
        color: white;
        text-align: center;
        padding: 20px;
        margin-top: 40px;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
        position: relative;

    
    

}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #e68900;
}


.accueil-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
}

.photo img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ff9800;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.cv-section {
    text-align: center;
}

.btn-cv {
    display: inline-block;
    background-color: #ff9800;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-cv:hover {
    background-color: #e68900;
}
